<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>Bookmarks:</div>
    <div>
      <ul>
        <% @bookmarks.each do |bookmark| %>
        <li class="bookmark"><a href="<%= bookmark.url %>"><%= bookmark.name %></a>  |
          <form action='/bookmarks/<%= bookmark.id %>' method='post'>
            <input type='hidden' name='_method' value='DELETE'/>
            <input id="Delete" name="Delete" type="image" src="images/delete_cross.png" height='25' width='25' value="Delete" alt="delete" />
          </form>
        </li>
        <% end %>
      </ul>
    </div>
    <div>
      <br>
      <% if @last_deleted %>
        <a href="/bookmarks/undo">Undo last deleted</a>
      <% end %>
      <br>
      <br>
      <strong><a href="/bookmarks/new">Add bookmark</a></strong>
    </div>
  </body>
</html>
